<div class="favorite">
  <% if favorite = current_user.favorite_for(article) %>
    <%= link_to [article, favorite], method: :delete do %>
      <i class="fa fa-star" aria-hidden="true"></i> Unfavorite
    <% end %>
  <% else %>
    <%= link_to [article, Favorite.new], method: :post do %>
      <i class="fa fa-star-o" aria-hidden="true"></i> Favorite
    <% end %>
  <% end %>
</div>
