<div class="section-show-card">
     <h3>
       <%= link_to article.title, section_article_path(article.section, article) %>
    </h3>
    <small>
      submitted <%= time_ago_in_words(article.created_at) %> ago by <%= article.user.name %> <br>
      <%= article.comments.count %> Comments
    </small>
  <!-- </div> -->
</div>
