<div class="container">
  <h3>Articles Awaiting Approval</h3>
    <% @unpublished_articles.each do |article| %>
      <%= render partial: 'articles/approval', locals: { article: article } %>
    <% end %>
</div>
