
<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <div class="media-body">
         <h1 class="media-heading"><%= @user.name %></h1>
         <small>
           <%= pluralize(@user.articles.count, 'article') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 <h3>Published Articles</h3>
 <%= user_articles_if_any(@user.articles) %>

 <h3>Articles Awaiting Approval</h3>
 <% @articles.each do |article| %>
   <tr>
     <% if !article.published %>
       <td> <% @user.articles %> </td>
     <% end %>
  <% end %>

  <h3>Private Articles</h3>

  <h3>Favorite Articles</h3>
