
<div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to section.name, section %>
          </h4>
          <small>
            <%= section.description %>
          </small>
        </div>
      </div>
