<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @section.description %></p>
    <% @section.articles.each do |article| %>
      <%= render partial: 'articles/article', locals: { article: article } %>
    <% end %>
  </div>
