/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 *{
 	margin: 0;
 	padding: 0;
 }

 html, body {
   font-size: 16px;
   min-height: 100%;
   min-width: 100%;
 }

 #layout {
   min-height: 100vh;
   flex-flow: column nowrap;
 }

 #header, #footer {
   background-color: #271625;
 }

 #header ul, #header a {
   color: #ebe9df;
 }

 .container > * {
   color: #333;
   border: 1px solid red;
   border-radius: 2px;
   justify-content: space-between;
   flex: 1 1 0%;
 }

 #footer ul {
   justify-content: flex-start;
 }

 .nav-tabs li {
  padding: 1em;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  justify-content: space-between;
}

.pull-right {
  float: right !important;
  position: relative;
}

h1, h3 {
  font-family: "lato";
  color: #46385b;
  padding: 0.25em 0 0.25em 0;
  }

  a:link {
    color: #46385b;
}

a:visited {
  color: #46385b;
}

a:hover {
    color: #519498;
}

p, ol, ul, td {
  font-family: "lato", helvetica, verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
