/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 .margin-bottom {
   margin-bottom: 100px;
 }

 #layout {
   min-height: 100vh;
   flex-flow: column nowrap;
 }

#header {
   background-color: rgba(39, 22, 37, 1);
   box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   position: relative;
   z-index: 100;
 }

 #header ul, #header a {
   color: #ebe9df;
 }

 .container > * {
   color: #333;
   //border: 1px solid red;
   border-radius: 2px;
   justify-content: space-between;
   flex: 1 1 0%;
   height: 100%;
 }

 #footer ul {
   justify-content: flex-start;
 }

 .nav li {
  padding: 1em;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  justify-content: flex-start;
  align-items: center;
}

.container a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex: 1 1 0%;
  width: 100%;
}

.menu {
  margin: 0;
  display: inline-block;
}

.float-right div:nth-child(2) {
  float: right;
}

#footer {
	position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  border: 1px solid red;
  z-index: 101;
  background-color: #ffffff;
}

h1, .margin-top {
  margin-top: 2%;
}

.gravatar {
  position: relative;
  float: left;
}

h1, h3, h5 {
  color: #46385b;
  font-family: "lato", sans-serif;
}

a:hover {
  color: #519498;
}

.code-pidgin-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #362535;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 51px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #519498}

.dropdown:hover .dropdown-content {
    display: block;
}

.alert{
  margin-bottom: 0;
}
