/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 #layout {
   min-height: 100vh;
   flex-flow: column nowrap;
 }

 #header, #footer {
   background-color: #271625;
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 #header ul, #header a {
   color: #ebe9df;
 }

 .container > * {
   color: #333;
   //border: 1px solid red;
   border-radius: 2px;
   justify-content: space-between;
   flex: 1 1 0%;
 }

 #footer ul {
   justify-content: flex-start;
 }

 .nav-tabs li {
  padding: 1em;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  justify-content: flex-start;
  align-items: center;
}

.nav .pull-right {
  position: relative;
  float: right;
}

.container a {
  text-decoration: none;
}
