// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite {
  position: relative;
  float: right;
}

.btn-lg {
  width: 100%;
  background-color: #519498;
  color: #ebe9df;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}

.article {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4em;
  justify-content: flex-start !important;
  border: 1px solid blue;
  flex: 1 1 0%;
}

.article-column {
  margin: 0 0.25em 0 0.25em;
  border: 1px solid blue;
  flex-basis: 25%;
}

.article div:nth-child(2) {
    flex-grow: 7;
  }
