// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite {
  position: relative;
  float: right;
}

.btn-lg {
  width: 100%;
  background-color: #519498;
  color: #ebe9df;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}

.btn-md {
  width: 25%;
  background-color: #519498;
  color: #ebe9df;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  float: right;
}

.article {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4em;
  justify-content: flex-start !important;
  flex: 1 1 0%;
}

.article-column {
  margin: 0 0.5em 0 0.5em;
  flex-basis: 25%;
}

.article div:nth-child(2) {
    flex-grow: 7;
  }

.padding {
  padding: 0 0 12% 0;
}

.article-column p:nth-child(1) {
  padding-top: 7%;
  }

  .link-style {
    color: #519498 !important;
    font-weight: bold;
    text-decoration: underline !important;
  }
