// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.section-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  flex: 1 1 33.33333%;
  border: 1px solid red;
  justify-content: space-between;
  height: 80vh;
}

.section-container div {
  border: 1px solid black;
  width: 32.2%;
  padding: 20px;
  margin: 10px 0 10px 0;
}
