// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gravatar {
   margin-bottom: 5px;
   margin-right: 5px;
 }

.user-card {
  background-color: #ede9d5;
  justify-content: center;
  padding: 2em;
  margin: 0.75em 0 .75em 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.width-50 {
  width: 50%;
}

.user-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.c-tabs-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-tabs-nav__link {
  flex: 1;
  padding: 12px;
  color: #fff;
  border-bottom: solid #2d273d 1px;
  text-align: center;
  transition: color 0.3s;
}

.c-tabs-nav__link:last-child {
  margin-right: 0;
}

.c-tabs-nav__link:hover {
  color: #519498;
}

.c-tabs-nav__link.is-active {
  color: #519498;
  border-bottom: solid #519498 5px;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}

.c-tab {
  display: none;
  margin-bottom: 100px;
  min-height: 90vh;
}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  padding: 1.5rem;
}

.user-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gravatar-user-show {
  margin-right: 1em;
}

.text-info {
  flex-grow: 3;
  align-content: center;
}
